@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    3 Little Piggies Blvd<br />
    Swineville, IN 46204<br />
    <abbr title="Phone">P:</abbr>
    (123) 456-7890
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:CustomerSupport@SwineOMite.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@SwineOMite.com">Marketing@example.com</a>
</address>