@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-image:url(https://www.austinmonitor.com/wp-content/uploads/2015/05/smoke-716322_1920.jpg)">
    <h1 style="color: white">Swine-O-Mite</h1>
    <p class="lead" style="color: white">Welcome to Swine-O-Mite a website designed to assist you with managing your recipes for your competition and backyard barbeques.</p>
    <p> @Html.ActionLink("Learn more", "About", "Home") &raquo;</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Add Ingredients</h3>
        <p>
            Click the button below to add ingredients to your recipe.
        </p>
        <p><a class="btn btn-default" @Html.ActionLink("Ingredients", "Index", "Ingredient")</a></p>
    </div>
    <div class="col-md-4">
        <h3>Smoking Wood Varities</h3>
        <p>We've added all the available woods that you can smoke with to a list that you can select from. To view the list of available wood, click the button below.</p>
        <p><a class="btn btn-default" @Html.ActionLink("Smoking Woods", "Index", "SmokingWood")</a></p>
    </div>
    <div class="col-md-4">
        <h3>USDA Suguested Internal Temperatures</h3>
        <p>Select the button below to ensure your cooking your food to the proper internal tempature, per the USDA.</p>
        <p><a class="btn btn-default" href="https://www.fsis.usda.gov/wps/portal/fsis/topics/food-safety-education/get-answers/food-safety-fact-sheets/safe-food-handling/safe-minimum-internal-temperature-chart/ct_index" target="_blank">USDA Internal Temperature Chart</a></p>
    </div>
</div>